:root {
 --mainColor: #f72e00;   /*amber*/
 /*--mainColor: #ff0000; !*red*!*/
 /*--mainColor: #ff886d; !*amber*!*/
 /*--mainColor: #0f0;    !*green*!*/
 /*--mainColor: #00b2ff; !*blue*!*/
 --buttonHeight: 55px;
 --menuItemHeight: 44px;
 --fontSize: 18px;
 --buttonFontSize: 14px;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,html {
 margin: auto;
 padding: 0;
 width: 100%;
 height: 100%;
 font-family: 'Arial', sans-serif;
 background-color: black;
 color: var(--mainColor);
 max-width: 20cm;
 overscroll-behavior: none;
}

div {
 margin: 0;
 padding: 0;
}

h1, h2, h3, h4, h5, h6 {
 display: inline-block; /* Allows headings to have dimensions but remain inline */
 margin-top: .1cm;
 margin-bottom: 0;
}

a {
 color: var(--mainColor);
}

.flexRightAndWrapContent {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
}

.spinnerGroup {
 display: flex;
}

div {
 border-collapse: collapse;
}

label {
 font-size: var(--buttonFontSize)
}

button, input, textarea {
 border-collapse: collapse;
 padding: 2px;
 border: 1px solid var(--mainColor);
 margin: 0;
 border-radius: 0;
 cursor: pointer;
 color: var(--mainColor);
 background-color: black;
}

button {
 padding: 0 10px;
 margin: 0;
 height: var(--buttonHeight);
 min-width:var(--buttonHeight)
}

input, textarea {
 font-family: 'Arial', sans-serif;
 font-size: var(--fontSize);
}

select, option, input:focus, textarea:focus {
 color: var(--mainColor);
 border: 1px solid var(--mainColor);
 outline: none;
}

input::selection, textarea::selection {
 background-color: var(--mainColor);
 color: black;
}

input::placeholder, textarea::placeholder {
 color: var(--mainColor);
 filter: brightness(70%);
}

/*button:hover, button:focus {*/
/* transform: scale(1.05);*/
/*}*/

.spinner {
 border: 2px solid var(--mainColor);
 width: 15px;
 height: 15px;
 border-radius: 50%;
 border-left-color: #09f;
 animation: spin 1s ease infinite;
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

/* Forces the main color on things, e.g. emojis.
This used to be called greenFilter.*/
.forceMainColor {
 filter: grayscale(100%) sepia(1) hue-rotate(355deg) brightness(1) saturate(10);
 /*blue: filter: grayscale(100%) sepia(1) hue-rotate(150deg) brightness(0.5) saturate(10);*/
 /*green: filter: grayscale(100%) sepia(1) hue-rotate(90deg) brightness(0.5) saturate(10);*/
}

textarea {
 width: 100%;
 resize: vertical;
 box-sizing: border-box;
 margin: 0;
 height: 10cm;
}

@keyframes blink {
 0%, 100% { opacity: 1; }
 50% { opacity: 0; }
}

.blinkingFast {
 animation: blink 1s linear infinite;
}

.blinkingSlow {
 animation: blink 4s linear infinite;
}

@media only screen and (max-width: 600px) {
 .textareaContainer {
  width: 90%;
 }
 body, html {
  margin: 0;
 }
 .textareaContainer {
  width: 100%
 }
}

.item, .heading {
 background-color: black;
 min-height: var(--menuItemHeight);
 align-items: center;
 justify-content: left;
 border: 1px solid var(--mainColor);
 font-size: var(--buttonFontSize)
}

.buttonMenuItem {
 padding-left: 0
}

.buttonLikeBox {
 display: flex;
 align-items: center;
 border: 1px solid var(--mainColor);
 height: var(--buttonHeight);
 padding: 0 10px;
 margin: 0;
 min-width:var(--buttonHeight)
}

.heading {
 height: var(--buttonHeight);
}

.item:hover {
 cursor: default;
}

.heading {
 background-color: black;
}

select, option {
 background-color: black;
 color: var(--mainColor);
}

.centerContent {
 display: flex;
 justify-content: center;
 align-items: center;
}